{{#if error}}
  <p class="error">
    {{error}}
  </p>
{{else}}

  <h1>
    <a href="/show/{{episode.show_id}}">{{episode.show.name}}</a>
  </h1>
  <form method="post" action="/show/{{episode.show_id}}/episode/{{episode.id}}/status" style="margin-bottom: 20px;">
    <input type="hidden" name="returnHash" value="{{#if returnHash}}{{returnHash}}{{/if}}" />
    <div data-id="{{episode.id}}" style="width: 100%; padding: 5px; margin-bottom: 5px; border-collapse: collapse;">
      <div style="display: flex; gap: 10px;">
        <div style="flex-grow: 1;">
          <h2 style="margin-bottom: 0px;">{{episode.name}}</h2>
          <div>
            S{{episode.season}} {{#if episode.number}}| E{{episode.number}}{{/if}} - 
            <span style="color: rgba(0, 0, 0, 0.3)">{{episode.airdate}}</span>
          </div>
        </div>
        <div style="display:flex; flex-direction: column;">
          <div style="display: flex; align-items: center; gap: 10px; justify-content: end;">
            {{#if episode.not_aired}}
              <div>
                {{episode.days_untill}} days
              </div>
            {{/if}}
            {{#if episode.isWatched}}
              {{#if @root.loggedIn}}
                <input type="hidden" name="status" value="null" />
                <button type="submit" style="display:inline-block; padding: 0; background: none; border: 0;">
                  {{> check checked=true not_aired=episode.not_aired }}
                </button>
              {{else}}
                {{> check checked=true not_aired=episode.not_aired }}
              {{/if}}
            {{else}}
              {{#if @root.loggedIn}}
                <input type="hidden" name="status" value="WATCHED" />
                <button type="submit" style="display:inline-block; padding: 0; background: none; border: 0;">
                  {{> check not_aired=episode.not_aired }}
                </button>
              {{else}}
                {{> check not_aired=episode.not_aired }}
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </form>


  {{#unless @root.loggedIn}}
    <div style="margin-bottom: 20px;">
      {{episode.note}}
    </div>
  {{/unless}}

  {{#if @root.loggedIn}}
    <fieldset style="border:1px solid; padding: 20px; border-radius: 10px; margin-bottom: 20px;">
      <legend>
        Episode details
      </legend>
    <form method="post" action="/show/{{episode.show_id}}/episode/{{episode.id}}/update">
      <textarea name="note" placeholder="Add a note" style="width: 100%; height: 100px; margin-bottom: 10px; background: #fdf7fc">{{episode.note}}</textarea>

      <details class="form-group">
        <summary>
          <label for="bookmark_allowed">
            Auto-allow comments from (one username per line)
          </label>
        </summary>
        <textarea
          id="bookmark_allowed"
          name="allowed"
        >{{allowed}}</textarea>
      </details>
      <details class="form-group">
        <summary>
          <label for="bookmark_blocked">
            Auto-ignore comments from (one username per line)
          </label>
        </summary>
        <textarea
          id="bookmark_blocked"
          name="blocked"
        >{{blocked}}</textarea>
      </details>

      <div style="display: flex; justify-content: end;">
        <button>Save</button>
      </div>
    </form>
    </fieldset>
  {{/if}}

  {{#if episode.isWatched}}
    {{#if @root.loggedIn}}
      <h2>Review comments ({{comments.length}})</h2>
      {{#each comments}}
        {{> show_comment comment=this admin=true}}
      {{else}}
        <div style="margin-bottom: 20px;">
          No comments yet!
        </div>
      {{/each}}
    {{/if}}

    {{#unless @root.loggedIn}}
      {{#if comments}}
        <h2>
          {{this.comment_count}}
          {{pluralize this.comment_count "comment" "comments"}}
        </h2>

        {{#each comments }}
          {{> show_comment comment=this }}
        {{/each}}
      {{/if}}
    {{/unless}}
  {{/if}}

  {{#if episode.isWatched}}
    {{#if @root.loggedIn}}
      <h2>
        The Danger Zone
      </h2>
      <form action="/show/{{episode.show_id}}/episode/{{episode.id}}/delete_hidden_comments" method="post" style="margin-bottom: 20px;">
        <p>
          Delete all hidden comments? They can't be recovered.
        </p>
        <button type="submit">Cleanup</button>
      </form>
    {{/if}}
  {{/if}}


{{/if}}
