{{#if error}}
  <p class="error">
    {{error}}
  </p>
{{else}}
  <div class="bookmarks">
    {{> show_tvshow tvshow=show}}
  </div>
  <div>
    <a id="episodes"></a>
    {{#each seasons}}
    <div style="margin-bottom: 20px;">
      
      <a id="season{{this.seasonId}}"></a>
      <div style="display:flex; gap: 10px; padding: 5px; border-bottom: 1px solid; margin-bottom: 10px; align-items: center;">
        <h3 style="flex-grow: 1;">{{this.title}}</h3>
        <div>
          <!-- Mark Entire Season as Watched -->
          {{#if this.isWatched}}
            {{#if @root.loggedIn}}
              <form method="post" action="/show/{{this.showId}}/season/{{this.seasonId}}/status">
                <input type="hidden" name="status" value="null" />
                <button style="display:inline-block; padding: 0; background: none; border: 0;">
                  <div class="circle checked">
                    <div class="checkmark"></div>
                  </div> 
                </button>
              </form>
            {{else}}
              <div class="circle checked">
                <div class="checkmark"></div>
              </div>
            {{/if}}
          {{else}}
            {{#if @root.loggedIn}}
              <form method="post" action="/show/{{this.showId}}/season/{{this.seasonId}}/status">
                <input type="hidden" name="status" value="WATCHED" />
                <button style="display:inline-block; padding: 0; background: none; border: 0;">
                  <div class="circle">
                    <div class="checkmark"></div>
                  </div>
                </button>
              </form>
            {{else}}
              <div class="circle">
                <div class="checkmark"></div>
              </div>
            {{/if}}
          {{/if}}
        </div>
      </div>

    
      {{#each this.episodes}}
        {{> episode episode=this}}
      {{/each}}
    </div>
    {{/each}}
  </div>


  {{#if @root.loggedIn}}
    <fieldset style="border:1px solid; padding: 20px; border-radius: 10px; margin-bottom: 20px;">
      <legend>
        Show details
      </legend>
      <form method="post" action="/show/{{show.id}}/update" onsubmit="this.querySelector('button').disabled = 'disabled'">
        <textarea name="note" placeholder="Add a note" style="width: 100%; height: 100px; margin-bottom: 10px; background: #fdf7fc">{{show.note}}</textarea>
        <details class="form-group">
          <summary>
            <label for="bookmark_allowed">
              Auto-allow comments from (one username per line)
            </label>
          </summary>
          <textarea
            id="bookmark_allowed"
            name="allowed"
          >{{allowed}}</textarea>
        </details>
        <details class="form-group">
          <summary>
            <label for="bookmark_blocked">
              Auto-ignore comments from (one username per line)
            </label>
          </summary>
          <textarea
            id="bookmark_blocked"
            name="blocked"
          >{{blocked}}</textarea>
        </details>

        <div style="display: flex; justify-content: end;">
          <button>Save</button>
        </div>
      </form>
    </fieldset>
  {{/if}}

  {{#if @root.loggedIn}}
    <h2>Review comments ({{comments.length}})</h2>
    {{#each comments}}
      {{> show_comment comment=this admin=true}}
    {{else}}
      <div style="margin-bottom: 20px;">
        No comments yet!
      </div>
    {{/each}}
  {{/if}}

  {{#unless @root.loggedIn}}
    {{#if comments}}
      <h2>
        {{this.comment_count}}
        {{pluralize this.comment_count "comment" "comments"}}
      </h2>

      {{#each comments }}
        {{> show_comment comment=this }}
      {{/each}}
    {{/if}}
  {{/unless}}

  {{#if @root.loggedIn}}
    <h2>
      The Danger Zone
    </h2>
    <form action="/show/{{episode.show_id}}/episode/{{episode.id}}/delete_hidden_comments" 
          method="post" 
          onsubmit="this.querySelector('button').disabled = 'disabled'"
          style="margin-bottom: 20px;">
      <p>
        Delete all hidden comments? They can't be recovered.
      </p>
      <button type="submit">Cleanup</button>
    </form>
  {{/if}}



  <div style="display:flex; gap: 10px; justify-content: right;">
    {{#if @root.loggedIn}}    
      <form method="get" 
            action="/admin/fetchMissingImage/{{show.id}}"
            onsubmit="this.querySelector('button').disabled = 'disabled'">
        <button>
          fetch new image
        </button>
      </form>
    
      <form method="post" action="/admin/show/delete/{{show.id}}"
            onsubmit="this.querySelector('button').disabled = 'disabled'">
        <button>
          delete show
        </button>
      </form>
    {{/if}}
  </div>
{{/if}}
