<div class="tv-show-card patternBackground">
  <a href="/show/{{tvshow.id}}" style="display: block;">
    <img 
      src="{{{tvshow.image}}}"
      style="display:block; width: 100%; aspect-ratio: 0.711864406779661"
      title="{{tvshow.name}} - watched {{tvshow.watched_episodes_count}} of {{tvshow.aired_episodes_count}} aired episodes"
      alt="{{tvshow.name}} - watched {{tvshow.watched_episodes_count}} of {{tvshow.aired_episodes_count}} aired episodes"
    />
  </a>
  <div style="height: 10px; background-color: cornsilk;">
    <div style="height: 10px; background-color: yellow; width: {{toCssPercent tvshow.watched_episodes_count tvshow.aired_episodes_count}}%">
     </div>
  </div>
</div>
